.form {
    max-width:800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form h1 {
    text-align: center;
}

.formItem {
    margin-top: 20px;
}

.inputGroup {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: var(--green-600);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

