:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--green-200);
}


/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

/* Layout styles */
@media screen and (max-width: 320px) {
  /* Styles for screens <= 320px */
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  /* Styles for mobile (375px) */
}

@media screen and (min-width: 376px) {
  /* Styles for larger screens */
}

/* Colors */
:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

/* Typography */


p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
